<tr id="<%= dom_id friend %> ">
  <td scope="col"> <%= friend.first_name %> </td>
  <td scope="col"> <%= friend.last_name %> </td>
  <td scope="col"> <%= friend.email %> </td>
  <td scope="col"> <%= friend.phone %> </td>
  <td scope="col"> <%= friend.twitter %> </td>
  <td scope="col"> <%= link_to "Show this friend", friend %> </td>
</tr>
