<div class="jumbotron" id="show-friend-jumbo">

  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p><%= @friend.email %></p>
  <p><%= @friend.phone %></p>
  <p><%= @friend.twitter %></p>

  <p class="lead">
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-secondary" %> |
    <%= link_to "Back to friends", friends_path, class: "btn btn-dark" %> |
    <%= button_to "Destroy friend", @friend, method: :delete, class: "btn btn-secondary" %>
  </p>
</div>


<div class="d-flex flex-row justify-content-center">
</div>

</br>
</br>
</br>

<div class="d-flex flex-row justify-content-around">
</div>
